################################################################################
#
#  This file is part of SplashSync Project.
#
#  Copyright (C) Splash Sync <www.splashsync.com>
#
#  This program is distributed in the hope that it will be useful,
#  but WITHOUT ANY WARRANTY; without even the implied warranty of
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
#
#  For the full copyright and license information, please view the LICENSE
#  file that was distributed with this source code.
#
#  @author Bernard Paquier <contact@splashsync.com>
#
################################################################################

################################################################################
# Shopify Restricted Scopes
################################################################################
# Enable the "read_all_orders" scope (orders older than 60 days) for the whole
# deployment. Set to true ONLY on a cloud whose Shopify App has been granted
# this restricted scope by Shopify. Leave false otherwise (Private Apps let the
# merchant request it on their own).
SHOPIFY_READ_ALL_ORDERS=false