
###> symfony/framework-bundle ###
/.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
/.php_cs.cache
/.web-server-pid
/tests/config/parameters.yml
/public/
/nbproject/private/
/nbproject/
/src/.php_cs.cache
/coverage/
/.gh-pages/
/docs/yarn.lock
/reboot.sh
/.idea/
/.php-cs-fixer.cache
/.phpunit.result.cache
/tests/.env
