
{% trans_default_domain "ShopifyBundle" %}

<div class="row">
    <div class="col-md-6">
        <h3>
            {{ "admin.scopes.active"|trans }}
        </h3>
        <ul class="text-success">
            {% for scope in connector.accessScopes %}
                <li>
                    <i class="fa fa-check"></i>
                    {{ scope }}
                </li>

            {% endfor %}
        </ul>
    </div>

    <div class="col-md-6">
        <h3>
            {{ "admin.scopes.missing"|trans }}
        </h3>
        <ul class="text-danger">
            {% for scope in connector.missingScopes %}
                <li>
                    <i class="fa fa-times"></i>
                    {{ scope }}
                </li>

            {% endfor %}
        </ul>
    </div>
</div>