
{% set selfTest = connector.selfTest %}
{% set connect = connector.connect %}

<div class="well well-sm">
    {% include '@Shopify/Blocks/features.html.twig'  %}
    {% include '@Shopify/Blocks/actions.html.twig'  %}
</div>            
